@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.400);
}

nav > a {
    color: var(--cor1);
    font-weight: normal;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
    
}

main {
    min-width: 280px;
    max-width: 1000px;
    padding: 20px;
    margin:auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.500);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1),transparent);
    text-indent: 8px;
}

main p {
    margin: 15px 0px 15px 0px;
    text-align: justify; /* espaçamento espalhar o texto na linha */
    text-indent: 15px; /* espaçamento tipo parágrafo */
    font-size: 1em;
    line-height: 2em; /* espaçamento vertical das linhas do texto */
}

main strong {
    color: var(--cor4);
    font-weight: bold;

}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}


footer {
    background-color:black;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}